<div id="wrapper">
  <div class="slider-wrapper">
    <div id="slider" class="nivoSlider">
        <img src="https://images.unsplash.com/photo-1424847262089-18a6858bd7e2?crop=entropy&fit=crop&fm=jpg&h=550&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1280" data-thumb="images/toystory.jpg" alt="" title="#htmlcaption1" />
        <img src="https://images.unsplash.com/photo-1455994972514-4624f7f224a7?crop=entropy&fit=crop&fm=jpg&h=550&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1280" data-thumb="images/up.jpg" alt="" title="#htmlcaption2" />
        <img src="https://images.unsplash.com/photo-1462212210333-335063b676bc?crop=entropy&fit=crop&fm=jpg&h=550&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1280" data-thumb="images/toystory.jpg" alt=""  title="#htmlcaption3"/>
    </div>
    <div id="htmlcaption1" class="nivo-html-caption">
      <h3>Modern Keepsakes</h3>
      <h4>Handcrafted, heirloom quality goods.</h4>
      <a href="#" class="btn btn-default">SHOP NOW</a>
    </div>
    <div id="htmlcaption2" class="nivo-html-caption">
      <h3>Upto 70% sale</h3>
      <h4>Welcome this reimagined utilitarian piece to the collection.</h4>
      <a href="#" class="btn btn-default">SHOP NOW</a>
    </div>
    <div id="htmlcaption3" class="nivo-html-caption">
      <h3>Clearance Sale</h3>
      <h4>Timeless style to last a lifetime.</h4>
      <a href="#" class="btn btn-default">SHOP NOW</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="trend col-xs-12 col-md-4">
      <div class="col-xs-6 col-md-6">
        <img src="https://images.unsplash.com/photo-1417976528056-3c9bbbb5456c?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=152&h=101">
      </div>
      <div class="col-xs-6 col-md-6 bold">
        <p>Lounging in style:<br>The Chai Chair <br><a href="#" class="underline">Browse</a></p>
      </div>
    </div>
    <div class="trend col-xs-12 col-md-4">
      <div class="col-xs-6 col-md-6">
        <img src="https://images.unsplash.com/photo-1431905673613-8b0122cb1196?crop=entropy&fit=crop&fm=jpg&h=101&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=152">
      </div>
      <div class="col-xs-6 col-md-6 bold">
        <p>Dusk lamp in opal <br> or smoked glass <br><a href="#" class="underline">Browse</a></p>
      </div>
    </div>
    <div class="trend col-xs-12 col-md-4">
      <div class="col-xs-6 col-md-6">
        <img src="https://images.unsplash.com/photo-1462212210333-335063b676bc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=152&fit=max&s=7d2a778e52d72428b4a1736a1c9cfd9f&h=101">
      </div>
      <div class="col-xs-6 col-md-6 bold">
        <p>Palo Sofa in multiple sizes<br><a href="#" class="underline">Browse</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img class="width-100" src="https://images.unsplash.com/photo-1463082459669-fd1ca1692fea?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=700&q=80">
      <div class="text">
        <span class="store">VISITING OUR STORE </span>
        <p class="font-large bold">Mumbai, India</p>
        <a href="#" class="font-medium bold">Read more</a> 
      </div>
    </div>
  </div>
  <div class="trending row">
    <h4 class="heading"><span>TRENDING PRODUCTS</span></h4>
    <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <% @products.each do |product| %>
      <div class="col-md-4">
        <a href="/products/<%= product.id %>"><img class="width-100" src="<%= product.image %>"></a>
        <div class="row product-text bold">
          <p class="col-xs-8">
            <a href="#" class="text-upper bold"><%= product.name %></a>
          </p>
          <p class="col-xs-4">Rs. <%= product.price %></p>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <div class="row">
    <div class="text-center">
      <a class="btn-dark" href="/products">MORE</a>
    </div>
  </div>    
</div>
