<div class="row">
  <div class="col-md-12"><h4 class="text-center">FURNITURES</h4></div>
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <% @products.each do |product| %>
      <div class="col-md-4">
        <a href="/products/<%= product.id %>"><img class="width-100" src="<%= product.image %>"></a>
        <div class="row product-text bold">
          <p class="col-xs-9">
            <%= product.name %>
            <br>
            By Sibatski skoller
          </p>
          <p class="col-xs-3">Rs. <%= product.price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>